In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Flight Distance Test.csv')

In [3]:
df

,Normalised City Pair,Departure Code,Arrival Code,Departure_lat,Departure_lon,Arrival_lat,Arrival_lon
0,"London, United Kingdom - New York, United Stat...",LHR,JFK,51.5,-0.45,40.64,-73.79
1,"Johannesburg, South Africa - London, United Ki...",JNB,LHR,-26.1,28.23,51.47,-0.45
2,"London, United Kingdom - New York, United Stat...",LHR,JFK,51.5,-0.45,40.64,-73.79
3,"Johannesburg, South Africa - London, United Ki...",JNB,LHR,-26.1,28.23,51.47,-0.45
4,"London, United Kingdom - Singapore, Singapore",SIN,LHR,1.3,103.98,51.47,-0.45
...,...,...,...,...,...,...,...
2995,"New York, United States Of America - Toronto, ...",LGA,YYZ,40.8,-73.88,43.68,-79.61
2996,"Newark, United States Of America - Vail/eagle,...",EGE,EWR,41.3,-85.28,40.69,-74.18
2997,"Isle Of Man, United Kingdom - Southampton, Uni...",SOU,IOM,51.0,-1.36,54.09,-4.63
2998,"Ottawa, Canada - Toronto, Canada",YYZ,YOW,43.7,-79.61,45.32,-75.67
2999,"Frankfurt, Germany - Helsinki, Finland",HEL,FRA,60.3,24.97,50.05,8.56

In [10]:
df.describe()

       Departure_lat  Departure_lon  Arrival_lat  Arrival_lon
count    3000.000000    3000.000000  3000.000000  3000.000000
mean       31.573267       4.342753    30.692543     3.584463
std        23.254100      74.277086    23.835103    74.942567
min       -37.700000    -157.920000   -41.330000  -157.920000
25%        25.300000     -73.790000    22.477500   -73.790000
50%        40.100000       2.540000    40.000000     3.320000
75%        49.000000      55.350000    47.550000    55.350000
max        64.000000     153.110000    63.990000   174.810000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Normalised City Pair  3000 non-null   object
 1   Departure Code        3000 non-null   object
 2   Arrival Code          3000 non-null   object
 3   Departure_lat         3000 non-null   float64
 4   Departure_lon         3000 non-null   float64
 5   Arrival_lat           3000 non-null   float64
 6   Arrival_lon           3000 non-null   float64
dtypes: float64(4), object(3)
memory usage: 164.2+ KB

In [35]:
depart_city = df.sort_values(by=['Departure Code'], ascending=True)
depart_city.head(50)

,Normalised City Pair,Departure Code,Arrival Code,Departure_lat,Departure_lon,Arrival_lat,Arrival_lon
2490,"Albuquerque, United States Of America - Denver...",ABQ,DEN,35.1,-106.63,39.77,-104.86
1606,"Albuquerque, United States Of America - San Fr...",ABQ,SFO,39.8,-104.86,37.61,-122.39
2078,"Aberdeen, United Kingdom - London, United Kingdom",ABZ,LGW,57.2,-2.20,51.16,-0.16
1778,"Aberdeen, United Kingdom - London, United Kingdom",ABZ,LCY,57.2,-2.20,51.50,0.05
876,"Accra, Ghana - Nairobi, Kenya",ACC,NBO,5.6,-0.17,-1.28,36.81
489,"Accra, Ghana - Nairobi, Kenya",ACC,NBO,5.6,-0.17,-1.28,36.81
2768,"Accra, Ghana - Lusaka, Zambia",ACC,LUN,-1.3,36.81,-15.33,28.45
1318,"Accra, Ghana - London, United Kingdom",ACC,LHR,5.6,-0.17,51.47,-0.45
2307,"Accra, Ghana - New York, United States Of America",ACC,JFK,42.9,-83.53,40.64,-73.79
1885,"Accra, Ghana - Entebbe/kampala, Uganda",ACC,EBB,-1.3,36.81,0.04,32.44
2701,"Accra, Ghana - Mauritius, Mauritius",ACC,MRU,25.3,55.35,-20.43,57.68
890,"Accra, Ghana - Nairobi, Kenya",ACC,NBO,5.6,-0.17,-1.28,36.81
1332,"Accra, Ghana - Dar Es Salaam, United Rep. Of T...",ACC,DAR,-1.3,36.81,-6.88,39.20
2954,"Accra, Ghana - Gaborone, Botswana",ACC,GBE,-1.3,36.81,-24.56,25.93
145,"Accra, Ghana - Johannesburg, South Africa",ACC,JNB,5.6,-0.17,-26.13,28.23
2523,"Nantucket, United States Of America - New York...",ACK,JFK,40.5,-77.06,40.64,-73.79
1655,"London, United Kingdom - Malaga, Spain",AGP,LGW,36.7,-4.49,51.16,-0.16
1924,"Augusta, United States Of America - New York, ...",AGS,LGA,42.9,-83.53,40.77,-73.88
1389,"Auckland-intl, New Zealand - London, United Ki...",AKL,LHR,1.3,103.98,51.47,-0.45
356,"Alma Ata, Kazakhstan - London, United Kingdom",ALA,LHR,43.4,77.03,51.47,-0.45
1561,"Alma Ata, Kazakhstan - Atyrau, Kazakhstan",ALA,GUW,43.4,77.03,47.11,51.85
2710,"Alma Ata, Kazakhstan - Tselinograd, Kazakhstan",ALA,TSE,43.4,77.03,51.03,71.48
2062,"Alma Ata, Kazakhstan - Frankfurt, Germany",ALA,FRA,43.4,77.03,50.05,8.56
1346,"Alicante, Spain - Madrid, Spain",ALC,MAD,38.3,-0.56,40.46,-3.58
2479,"Algiers, Algeria - London, United Kingdom",ALG,LGW,36.7,3.22,51.16,-0.16
1947,"Amman, Jordan - Dubai, United Arab Emirates",AMM,DXB,32.0,35.94,25.25,55.35
1503,"Amman, Jordan - Dubai, United Arab Emirates",AMM,DXB,32.0,35.94,25.25,55.35
1929,"Amsterdam, Netherlands - Milan, Italy",AMS,LIN,52.3,4.75,45.47,9.18
1405,"Amsterdam, Netherlands - Stockholm, Sweden",AMS,ARN,52.3,4.75,60.74,15.85
2776,"Amsterdam, Netherlands - Edinburgh, United Kin...",AMS,EDI,52.3,4.75,55.96,-3.34
336,"Amsterdam, Netherlands - London, United Kingdom",AMS,LCY,52.3,4.75,51.50,0.05
2582,"Amsterdam, Netherlands - Milan, Italy",AMS,LIN,52.3,4.75,45.47,9.18
2959,"Amsterdam, Netherlands - Zurich, Switzerland",AMS,ZRH,52.3,4.75,47.45,8.57
620,"Amsterdam, Netherlands - Frankfurt, Germany",AMS,FRA,52.3,4.75,50.05,8.56
1329,"Amsterdam, Netherlands - Geneva, Switzerland",AMS,GVA,52.3,4.75,46.23,6.11
2601,"Amsterdam, Netherlands - Zurich, Switzerland",AMS,ZRH,52.3,4.75,47.45,8.57
2614,"Amsterdam, Netherlands - Copenhagen, Denmark",AMS,CPH,52.3,4.75,55.63,12.64
2656,"Amsterdam, Netherlands - Frankfurt, Germany",AMS,FRA,52.3,4.75,50.05,8.56
2551,"Amsterdam, Netherlands - Frankfurt, Germany",AMS,FRA,52.3,4.75,50.05,8.56
762,"Amsterdam, Netherlands - Frankfurt, Germany",AMS,FRA,52.3,4.75,50.05,8.56
2900,"Amsterdam, Netherlands - Stockholm, Sweden",AMS,ARN,52.3,4.75,60.74,15.85
2474,"Amsterdam, Netherlands - Zurich, Switzerland",AMS,ZRH,52.3,4.75,47.45,8.57
1747,"Amsterdam, Netherlands - London, United Kingdom",AMS,LHR,52.3,4.75,51.47,-0.45
1003,"Amsterdam, Netherlands - Hong Kong, Hong Kong",AMS,HKG,52.3,4.75,22.32,113.94
1756,"Amsterdam, Netherlands - Dubai, United Arab Em...",AMS,DXB,52.3,4.75,25.25,55.35
2294,"Amsterdam, Netherlands - Geneva, Switzerland",AMS,GVA,52.3,4.75,46.23,6.11
2201,"Amsterdam, Netherlands - Moscow, Russia",AMS,SVO,52.3,4.75,55.96,37.42
1827,"Amsterdam, Netherlands - Zurich, Switzerland",AMS,ZRH,52.3,4.75,47.45,8.57
1166,"Amsterdam, Netherlands - London, United Kingdom",AMS,LGW,52.3,4.75,51.16,-0.16
2406,"Amsterdam, Netherlands - Frankfurt, Germany",AMS,FRA,52.3,4.75,50.05,8.56

In [40]:
depart_city = df.sort_values(by=['Arrival Code'], ascending=True)
depart_city.head(50)

,Normalised City Pair,Departure Code,Arrival Code,Departure_lat,Departure_lon,Arrival_lat,Arrival_lon
2571,"Albuquerque, United States Of America - Dallas...",DFW,ABQ,32.9,-97.04,35.05,-106.63
2775,"Albuquerque, United States Of America - San Fr...",SFO,ABQ,37.6,-122.39,35.05,-106.63
2767,"Albuquerque, United States Of America - Kansas...",MCI,ABQ,32.9,-97.04,35.05,-106.63
2489,"Albuquerque, United States Of America - Dallas...",DFW,ABQ,32.9,-97.04,35.05,-106.63
452,"Abuja, Nigeria - London, United Kingdom",LHR,ABV,51.5,-0.45,9.01,7.27
2564,"Abuja, Nigeria - Lagos, Nigeria",LOS,ABV,6.6,3.32,9.01,7.27
686,"Aberdeen, United Kingdom - London, United Kingdom",LHR,ABZ,51.5,-0.45,57.20,-2.20
1867,"Aberdeen, United Kingdom - Dallas, United Stat...",DFW,ABZ,51.5,-0.45,57.20,-2.20
2144,"Accra, Ghana - Dubai, United Arab Emirates",DXB,ACC,25.3,55.35,5.60,-0.17
2218,"Accra, Ghana - Cairo, Egypt",CAI,ACC,30.1,31.25,5.60,-0.17
2446,"Accra, Ghana - Johannesburg, South Africa",JNB,ACC,-26.1,28.23,5.60,-0.17
62,"Accra, Ghana - London, United Kingdom",LHR,ACC,51.5,-0.45,5.60,-0.17
65,"Accra, Ghana - Johannesburg, South Africa",JNB,ACC,-26.1,28.23,5.60,-0.17
871,"Accra, Ghana - London, United Kingdom",LHR,ACC,51.5,-0.45,5.60,-0.17
680,"Accra, Ghana - Nairobi, Kenya",NBO,ACC,-1.3,36.81,5.60,-0.17
980,"Accra, Ghana - Dubai, United Arab Emirates",DXB,ACC,25.3,55.35,5.60,-0.17
1254,"Accra, Ghana - Lagos, Nigeria",LOS,ACC,6.6,3.32,5.60,-0.17
1602,"Accra, Ghana - Lagos, Nigeria",LOS,ACC,6.6,3.32,5.60,-0.17
2167,"Accra, Ghana - Nairobi, Kenya",NBO,ACC,-1.3,36.81,5.60,-0.17
492,"Addis Ababa, Ethiopia - Nairobi, Kenya",NBO,ADD,-1.3,36.81,8.98,38.80
1511,"Addis Ababa, Ethiopia - Johannesburg, South Af...",JNB,ADD,-26.1,28.23,8.98,38.80
1525,"Malaga, Spain - New York, United States Of Ame...",JFK,AGP,40.6,-73.79,36.68,-4.49
2022,"Auckland-intl, New Zealand - Sydney, Australia",SYD,AKL,-33.9,151.23,-37.00,174.79
2001,"Auckland-intl, New Zealand - Sydney, Australia",SYD,AKL,-33.9,151.23,-37.00,174.79
1203,"Auckland-intl, New Zealand - Hong Kong, Hong Kong",HKG,AKL,22.3,113.94,-37.00,174.79
1569,"Alma Ata, Kazakhstan - Zurich, Switzerland",ZRH,ALA,50.1,8.56,43.36,77.03
552,"Alma Ata, Kazakhstan - Frankfurt, Germany",FRA,ALA,50.1,8.56,43.36,77.03
2063,"Ahmedabad, India - Bombay, India",BOM,AMD,19.1,72.86,23.08,72.62
1231,"Amman, Jordan - Beirut, Lebanon",BEY,AMM,33.8,35.49,31.95,35.94
1186,"Amman, Jordan - London, United Kingdom",LHR,AMM,51.5,-0.45,31.95,35.94
2803,"Amsterdam, Netherlands - Stockholm, Sweden",ARN,AMS,60.7,15.85,52.31,4.75
2336,"Amsterdam, Netherlands - London, United Kingdom",LTN,AMS,51.9,-0.37,52.31,4.75
2465,"Amsterdam, Netherlands - Geneva, Switzerland",GVA,AMS,46.2,6.11,52.31,4.75
2691,"Amsterdam, Netherlands - Prague, Czech Republic",PRG,AMS,50.1,14.43,52.31,4.75
81,"Amsterdam, Netherlands - London, United Kingdom",LHR,AMS,51.5,-0.45,52.31,4.75
2360,"Amsterdam, Netherlands - London, United Kingdom",LHR,AMS,51.5,-0.45,52.31,4.75
1122,"Amsterdam, Netherlands - Paris, France",CDG,AMS,49.0,2.54,52.31,4.75
1863,"Amsterdam, Netherlands - Frankfurt, Germany",FRA,AMS,50.1,8.56,52.31,4.75
1993,"Amsterdam, Netherlands - Dar Es Salaam, United...",DAR,AMS,-6.9,39.20,52.31,4.75
1873,"Amsterdam, Netherlands - San Francisco, United...",SFO,AMS,51.5,-0.45,52.31,4.75
1935,"Amsterdam, Netherlands - Paris, France",CDG,AMS,49.0,2.54,52.31,4.75
126,"Amsterdam, Netherlands - New York, United Stat...",JFK,AMS,40.6,-73.79,52.31,4.75
2738,"Amsterdam, Netherlands - Munich, Germany",MUC,AMS,48.3,11.77,52.31,4.75
2716,"Amsterdam, Netherlands - Edinburgh, United Kin...",EDI,AMS,56.0,-3.34,52.31,4.75
70,"Amsterdam, Netherlands - London, United Kingdom",LCY,AMS,51.5,0.05,52.31,4.75
2408,"Amsterdam, Netherlands - Tokyo, Japan",NRT,AMS,50.1,8.56,52.31,4.75
1943,"Amsterdam, Netherlands - London, United Kingdom",LHR,AMS,51.5,-0.45,52.31,4.75
1854,"Amsterdam, Netherlands - Copenhagen, Denmark",CPH,AMS,55.6,12.64,52.31,4.75
844,"Amsterdam, Netherlands - Paris, France",CDG,AMS,49.0,2.54,52.31,4.75
1396,"Amsterdam, Netherlands - Geneva, Switzerland",GVA,AMS,46.2,6.11,52.31,4.75

In [42]:
def haversine_np(Departure_lon, Departure_lat, Arrival_lon, Arrival_lat):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    Departure_lon, Departure_lat, Arrival_lon, Arrival_lat = map(np.radians, [Departure_lon, Departure_lat, Arrival_lon, Arrival_lat])

    dlon = Arrival_lon - Departure_lon
    dlat = Arrival_lat - Departure_lat

    a = np.sin(dlat/2.0)**2 + np.cos(Departure_lat) * np.cos(Arrival_lat) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

df['distance'] = haversine_np(df['Departure_lon'],df['Departure_lat'],df['Arrival_lon'],df['Arrival_lat'])

In [43]:
df

,Normalised City Pair,Departure Code,Arrival Code,Departure_lat,Departure_lon,Arrival_lat,Arrival_lon,distance
0,"London, United Kingdom - New York, United Stat...",LHR,JFK,51.5,-0.45,40.64,-73.79,5536.663254
1,"Johannesburg, South Africa - London, United Ki...",JNB,LHR,-26.1,28.23,51.47,-0.45,9064.381514
2,"London, United Kingdom - New York, United Stat...",LHR,JFK,51.5,-0.45,40.64,-73.79,5536.663254
3,"Johannesburg, South Africa - London, United Ki...",JNB,LHR,-26.1,28.23,51.47,-0.45,9064.381514
4,"London, United Kingdom - Singapore, Singapore",SIN,LHR,1.3,103.98,51.47,-0.45,10879.138826
...,...,...,...,...,...,...,...,...
2995,"New York, United States Of America - Toronto, ...",LGA,YYZ,40.8,-73.88,43.68,-79.61,569.564259
2996,"Newark, United States Of America - Vail/eagle,...",EGE,EWR,41.3,-85.28,40.69,-74.18,932.820505
2997,"Isle Of Man, United Kingdom - Southampton, Uni...",SOU,IOM,51.0,-1.36,54.09,-4.63,408.241382
2998,"Ottawa, Canada - Toronto, Canada",YYZ,YOW,43.7,-79.61,45.32,-75.67,360.350032
2999,"Frankfurt, Germany - Helsinki, Finland",HEL,FRA,60.3,24.97,50.05,8.56,1534.947367